@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #e1e0d3;
    --foreground: #011f4b;

    --surface: #ddddce;
    --surface-raised: #ebeade;

    --border: #c9c7b5;

    --text-primary: #011f4b;
    --text-secondary: #5b6b86;
    --text-tertiary: #8294ab;

    --accent: #011f4b;

    --input-bg: #ebeade;
    --input-border: #b8b6a3;
}

.dark {
    --background: #0A0E15;
    --foreground: #ecebe0;

    --surface: #10141C;
    --surface-raised: #161B25;

    --border: #222A38;

    --text-primary: #ecebe0;
    --text-secondary: #7E8CA3;
    --text-tertiary: #566178;

    --accent: #3159A8;

    --input-bg: #10141C;
    --input-border: #2A3344;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-surface: var(--surface);
    --color-surface-raised: var(--surface-raised);
    --color-border: var(--border);
    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --color-text-tertiary: var(--text-tertiary);
    --color-input-bg: var(--input-bg);
    --color-input-border: var(--input-border);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-accent: var(--accent);
}

body {
    background: var(--background);
    color: var(--text-primary);
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}